[submodule "kernel/freertos/freertos"]
	path = kernel/freertos/freertos
	url = https://github.com/cjlano/freertos.git
[submodule "lib/cmsis/CMSIS"]
	path = lib/cmsis/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
[submodule "lib/stm32-spl/SPL"]
	path = lib/stm32-spl/SPL
	url = https://github.com/forGGe/spl-hub.git
